{% extends "site_base.html" %}
{% load staticfiles %}
{% load qa_tags %}

{% block head_title %}QA Program Overview by Due Date{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h1>QA Program Overview By Due Date</h1>
            <p>
                <em>View which test lists are due or coming due soon</em>
            </p>
        </div>
    </div>

    {% for display,utcs in due %}
        {% if forloop.counter0|divisibleby:"2" or forloop.counter0 = 0 %}
            <div class="row-fluid">
        {% endif %}

        <div class="span6">
            <div class="well due-status-container">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>{{display}} {% if utcs%}({{utcs|length}}){%endif%}</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 due-status-lists">
                        {% if utcs %}
                            <div class="row-fluid">
                                <div class="span5">
                                    <strong>Name</strong>
                                </div>
                                <div class="span3">
                                    <strong>Unit</strong>
                                </div>
                                <div class="span2">
                                    <strong>Due Date</strong>
                                </div>
                                <div class="span2">
                                    <strong>Freq</strong>
                                </div>
                            </div>

                            {% for utc in utcs %}
                                <div class="row-fluid">
                                    <div class="span5">
                                        <a title="Perform {{utc.tests_object.name}} on {{utc.unit.name}}" href="{%url "perform_qa" utc.pk%}?day=next&next={{request.get_full_path}}">{{utc.tests_object.name}}</a>
                                    </div>
                                    <div class="span3">
                                        {{utc.unit.name}}
                                    </div>
                                    <div class="span2">
                                        {{utc|as_due_date}}
                                    </div>
                                    <div class="span2">
                                        <abbr title="Assigned to {{utc.assigned_to.name}}">{{utc.frequency.name}}</abbr>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <em>Nothing {{display }}</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:"2" or forloop.last %}
        </div>
        {% endif %}

    {% endfor %}

{% endblock %}

{% block end_body_extra_script %}

{% endblock %}
