<span class="">
    <button id="csv-export" class="btn btn-primary btn-mini "><i class="icon-download icon-large"></i> Save as csv</button>
</span>

<table class="table table-striped table-bordered table-condensed data-table">
    <thead>
        <tr>
            {% for header in headers %}
                <th class="header" colspan="3">{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for header in headers %}
                <th>Date</th>
                <th>Value</th>
                <th>Ref</th>
            {% endfor %}
        </tr>

    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for da,val,ref in row %}
                    <td class="date">{{da}}</td>
                    <td class="number">{{val}}</td>
                    <td class="number">{{ref}}</td>
                {% endfor  %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="3"><em>No data found</em></td>
            </tr>
        {% endfor %}
    </tbody>

</table>

