#chart {
    height:540px;
    min-width:300px;
}

#instructions-container {
    padding: 2px 14px 2px 14px;
    margin-bottom:3px;
    min-height:14px;
}

#chart-options hr{
    margin: 4px;
}

#test-filters .span1,
#test-filters .span2,
#test-filters .span3,
#test-filters .span4 {
    margin-left:0.56%
}

#test-filters .span1{
    width:12%;
}
#test-filters .span2{
    width:18%;
}
#test-filters .span3{
    width:24%;
}
#test-filters .span4{
    width:30%;
}

.control-container {
    position:relative;
    margin:5px 0;
    padding: 10px 5px 5px 5px;
    border:1px solid #DDD;
    background-color:#F9F9F9;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.control-container:after{
    position:absolute;
    top:-1px;
    left:-1px;
    padding:3px;

    font-size:12px;
    font-weight:bold;
    background-color:whiteSmoke;
    border:1px solid #DDD;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

#cc-chart-options input{
    max-width:35px;
}

input.date-only-input{
    width:70px;
}

.please-wait {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#chart-actions {
    padding-top: 5px;
}
.checkbox-container {
    overflow-x: auto;
    overflow-y:auto;
}
#status-checkboxes {
    height:50px;
}
.test-filter{
    height:235px;;
}
#test {
    height: 212px;
}


/**********************************************/
/* Trending data table                        */
tr.col-group th{
    border-bottom:1px solid #ddd;
    text-align:center;
}
#data-container {
    padding-top:20px;
}
#data-container .well{
    overflow-x:auto;
}
table.data-table{
    width:auto;
}
.data-table th{
    text-align:center;
    max-width:100px;
}
.data-table td{
}
.data-table td.date{
    width:170px;
}
.data-table td.number{
    text-align:right;
}
#csv-export {
    margin: 5px;
}
