{% extends "registration/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'auth_password_reset' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="">
                <fieldset>
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="form-actions">
                         <button type="submit" class="btn btn-primary">{% trans "Change password" %}"</button>
                    </div>
                </fieldset>
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock %}
